@model IEnumerable<LibraryApp.Models.Playlist>

@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/_ListsLayout.cshtml";
}
<div align="center">
    <h2 align="center">Index</h2>

    <button class="button style2">
        @Html.ActionLink("Create New", "Create")
    </button>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PlaylistId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PlaylistId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PlaylistId })
            </td>
        </tr>
    }

</table>
